<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1005881286106-stku4s07codceps1fv7nf4ub5p2got2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005881286106-stku4s07codceps1fv7nf4ub5p2got2k</string>
	<key>API_KEY</key>
	<string>AIzaSyDnA6NLd8RePrABDTu0L8YafWrl9mnHF4I</string>
	<key>GCM_SENDER_ID</key>
	<string>1005881286106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gregorygiovannini.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-818b3</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-818b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005881286106:ios:9303af3babe25121</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-818b3.firebaseio.com</string>
</dict>
</plist>